{% extends '::base.html.twig' %}

{% block body %}

    <div class="container profile">

        {# PAGE HEADER #}
        <div class="page-header">
            <h1>Account settings</h1>
        </div>

        {# ACCOUNT SETTINGS INFORMATION #}
        <div class="alert alert-info">
            <i class="icon icon-info-sign"></i>
            Are you looking to change your data, connect a social login to your
            account, or enable traditional login with a password? You can do all
            that here in your account settings.
        </div>

        {# USERNAME FORM #}
        <form method="POST"
              action="{{ path( 'wg_profile_save_username', { 'username_slug': user.usernameSlug } ) }}">

            {# FORM HEADER #}
            <div class="row">
                <div class="span12">
                    <h3>Your user name <small>as it appears on this website</small></h3>
                </div>
            </div>

            {# FORM ELEMENTS #}
            {% set checkPath = path( 'wg_profile_username_available', { 'username_slug': user.usernameSlug } ) %}
            <div class="row">
                <div class="span12" style="position: relative;">
                    <div class="input-append">
                        <input name="username" value="{{ user.username }}" placeholder="Your user name"
                               type="text" class="input input-xlarge" id="input_username"
                               data-availability-check-url="{{ checkPath }}" />
                        <input type="submit" class="btn" value="save" />
                    </div>
                </div>
            </div>

        </form>

        {# EMAIL FORM #}
        {% set foo = user.email ? 'Change your' : 'Add an' %}
        <form method="POST"
              action="{{ path( 'wg_profile_request_change_email', { 'username_slug': user.usernameSlug } ) }}">

            {# FORM HEADER #}
            <div class="row">
                <div class="span12">
                    <h3>{{ foo }} email address</h3>
                </div>
            </div>

            {# FORM ELEMENTS #}
            <div class="row">
                <div class="span12" style="position: relative;">
                    <div class="input-append">
                        <input name="email" value="{{ user.email }}" placeholder="Your email address"
                               type="text" class="input input-xlarge" id="input_email" />
                        <input type="submit" class="btn" value="save" />
                    </div>
                </div>
            </div>

        </form>

        {# PASSWORD FORM #}
        {% set foo = user.password ? 'Change your' : 'Add a' %}
        <form method="POST" class="form-horizontal"
              action="{{ path( 'wg_profile_save_password', { 'username_slug': user.usernameSlug } ) }}">

            {# FORM HEADER #}
            <div class="row">
                <div class="span12">
                    <h3>Add a password{% if user.password == '' %} <small>to enable traditional login</small>{% endif %}</h3>
                </div>
            </div>

            {% if user.email %}

                {# FORM ELEMENTS #}
                <div class="row">
                    <div class="span12 control-group" style="position: relative;">
                        <label class="control-label">Your new password</label>
                        <div class="controls">
                            <input name="password" type="password" id="input_password" placeholder="Your new password" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12 control-group" style="position: relative;">
                        <label class="control-label">Confirm password</label>
                        <div class="controls">
                            <input name="password_confirm" type="password" id="input_password_confirm" placeholder="Confirm password" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset1 control-group" style="position: relative;">
                        <label class="checkbox">
                            <input name="send_details" type="checkbox" checked="checked"> Send account details to my inbox
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="span12 control-group" style="position: relative;">
                        <div class="controls">
                            <button type="submit" class="btn">save</button>
                        </div>
                    </div>
                </div>

            {% else %}

                <div style="height: 40px;">
                    <span class="alert alert-info">
                        <i class="icon icon-info-sign"></i>
                        Before you can set a password for your account, you need to
                        provide an email address first.
                    </span>
                </div>

            {% endif %}

        </form>

        {% set foo = user.identities|length > 0 ? 'another' : 'a' %}
        <h3>Connect {{ foo }} social login</h3>

        <div style="height: 160px;"></div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var usernameAvailabilityQueryHandle;
        $( function()
        {
            $( '#input_email' ).keyup( function()
            {
                var target = $( this ).parent();
                if ( target.parent().find( '.form-control-hint' ).length ) return;
                var hintData = {cssClass: 'info', text: 'Changing your email address will require confirmation.'};
                addFormControlHint( hintData, target );
            });
            $( '#input_username' ).keyup( function()
            {
                var url = $( this ).attr( 'data-availability-check-url' );
                var username = $( this ).val();
                var target = $( this ).parent();
                $( '.form-control-hint' ).remove();
                addFormControlHint( {cssClass: 'loading', text: 'checking...'}, target );
                if ( usernameAvailabilityQueryHandle && usernameAvailabilityQueryHandle.readyState != 4 )
                {
                    usernameAvailabilityQueryHandle.abort();
                }
                usernameAvailabilityQueryHandle = $.ajax(
                {
                    url: url,
                    data: { username: username },
                    dataType: 'json',
                    success: function( response )
                    {
                        $( '.form-control-hint' ).remove();
                        window.setTimeout( function()
                        {
                            addFormControlHint( response, target );
                        }, 100);
                    }
                });
            });
            $( '.input' ).blur( function()
            {
                $( '.form-control-hint' ).fadeOut( 3000, function() { $( this ).remove() });
            });
        });
        function addFormControlHint( response, target )
        {
            var hint = $( '<span/>' );
            hint.insertAfter( target );
            hint.addClass( 'form-control-hint' );
            hint.addClass( response.cssClass );
            var icon = $( '<i/>' );
            hint.append( icon );
            icon.addClass( 'icon' );
            var text = $( '<span/>' );
            hint.append( text );
            text.html( response.text );
            switch ( response.cssClass )
            {
                case 'loading':
                    icon.addClass( 'icon-spinner icon-spin' );
                    break;
                case 'info':
                    icon.addClass( 'icon-info-sign' );
                    break;
                case 'success':
                    icon.addClass( 'icon-ok-sign' );
                    break;
                case 'error':
                    icon.addClass( 'icon-exclamation-sign' );
                    break;
            }
        }
    </script>
{% endblock %}